body {
	background: url('background.png');
	background-position: -200px 0;
	font-family: 'quicksandbold';
}

.section {
	text-align: center;
}

.iphone {
	position: fixed;
	z-index: 1;
	top: 100px;
	left: 100px;
	background: url('iphone.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 400px;
	height: 600px;
}
.iphone img {
  width: 241px;
  left: 35px;
  position: absolute;
  top: 87px;
}

.signup {
	position: fixed;
	top: 700px;
	left: 100px;

}

.text {
	margin-left: 500px;
	margin-right: 200px;

	font-size: 60px;
	max-width: 700px;
	font-color: white;
}