head
	title Pledg.io

body
	+main
	+signup



template(name="main")
	.iphone
		img(src="{{currentImageUrl}}")

	#fullpage
		each screens
			.section 
				.text {{caption}}

template(name="signup")
	form.signup
		input(name="email", type="email", placeholder="Your email address")
		button(type="submit") Keep me posted!
		p {{result}}
