head
	title Pledg.io
	link(rel="stylesheet", type="text/css", href="/fonts/quicksand.css")

body
	+main

template(name="main")
	#header
		img(src="/pledgio-logo.png")

	.iphone
		img(src="{{currentImageUrl}}")

	#fullpage
		each screens
			.section
				.text(style="color: {{textColour}}") {{caption}}

	+signup


template(name="signup")
	form.signup
		div
			p Pledg.io is coming soon...!
			div
				img.coming-soon(src="/comingsoon-iosandandroid.png")
		div
			input.input(name="email", type="email", placeholder="Your email address")
		div
			button.button(type="submit") Keep me posted!
		p.signupResult {{result}}
