head
	title Pledg.io
	link(rel="stylesheet", type="text/css", href="/fonts/quicksand.css")

body
	+main
	+signup

template(name="main")
	.iphone
		img(src="{{currentImageUrl}}")

	#fullpage
		each screens
			.section(style="background-color: {{colour}}")
				.text(style="color: {{textColour}}") {{caption}}

template(name="signup")
	form.signup
		div
			input.input(name="email", type="email", placeholder="Your email address")
		div
			button.button(type="submit") Keep me posted!
		p.signupResult {{result}}
