body {
	background: url('background.png');
	background-position: -200px 0;
	font-family: 'quicksandbold';
}

.section {
	text-align: center;
}

.iphone {
	position: fixed;
	z-index: 1;
	top: 100px;
	left: 100px;
	background: url('iphone.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 400px;
	height: 600px;
}
.iphone img {
  width: 241px;
  left: 35px;
  position: absolute;
  top: 87px;
}

.text {
	margin-left: 500px;
	margin-right: 200px;

	font-size: 36px;
	max-width: 700px;
	font-color: white;

	margin-bottom: 200px;
}


form.signup {
	position: fixed;
	bottom: 100px;
	left: 100px;
	right: 100px;
	text-align: center;
}

.input, .button {
	width: 100%;
	max-width: 300px;	
	margin-bottom: 10px;	
	box-sizing: border-box;

	padding: 10px;
	border-radius: 5px;
	border: solid 1px white;

}

.input {
	background: transparent;
	color: white;
	outline-style: none;
}

.button {
	background: white;
	font-family: 'quicksandbold';
	font-size: 16px;
}

.signupResult {
	position: fixed;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
}

/* Placeholder text color */
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}